  .projecttext em3 {
    background: linear-gradient(90deg, #debe53, #ea8449, #ed5d35, #debe53);
    background-size: 400%;
    font-style: normal;
    font-size:25px;
    font-weight: bold;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    animation: animate 20s linear infinite;
  }
  @keyframes animate {
    0%{
      background-position: 0%;
    }
    100%{
      background-position: 400%;
    }
  }

  

  .projectback {
    position:fixed;
    background: #1f1f1f !important;
    background-size: cover;
    object-fit: cover;
    padding: 0px;
    height: 1000%;
    min-height: 100%;
    width: calc(100vw);
    margin: 0;
    display: block;
    z-index: -100000;
    margin-top: -300px;
  }

.projectbreak {
    background-color: #2a2a2a;
    height: 150px;
    width: 97vw;
    display: flex;
    align-items: center;
}

.project {
    position: relative;
    image-rendering: pixelated;
    min-height: calc(100vh - 60px);
}

.projecttext p2 {
  font-weight: bold;
  text-decoration: underline;
}

.projecttext {
    font-family: monospace;
    text-align: center;
    box-sizing: border-box;
    font-size: 20px;
    margin-bottom: 50px;
    padding: 1px 15%;
    width: 100%;
    image-rendering: pixelated;
}

.projectheader {
    text-align: center;
    font-size: 50px;
    margin-top: -100px;
    width: 100%;
    /*text-decoration: underline;*/
    position: absolute;
}

.button {
    padding-top: -100px;
}

.specialimage {
    border: 3px solid black;
}