.card {
    box-sizing: border-box;
    overflow: hidden;
    background-color: #5d5d5d;
    display: inline-grid;
    flex-direction: row;
    border-radius: 0.4rem;
    font-style: italic;
    padding-top: 0px;
    padding-left: 10px;
    padding-right: 10px;
    width: 100%;
}

.description {
    font-family: monospace;
    font-size: 15px;
    padding: 1rem 1rem;
}

.wrapper {
    display: grid;
    grid-template-columns:repeat(auto-fit, minmax(10rem, 50rem));
    gap: 2rem;
    justify-content: left;
}