.projecttext em {
    background: linear-gradient(90deg, #6dc5f4, #5a95ed, #5aa3ed, #4287f5, #6dc5f4);
    background-size: 400%;
    font-style: normal;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    animation: animate 20s linear infinite;
  }
  @keyframes animate {
    0%{
      background-position: 0%;
    }
    100%{
      background-position: 400%;
    }
}

.projecttext em2 {
    background: linear-gradient(90deg, #57de53, #5aed6b, #9ced5a, #57de53);
    background-size: 400%;
    font-style: normal;
    font-weight: bold;
    font-style: italic;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    animation: animate 20s linear infinite;
  }
  @keyframes animate {
    0%{
      background-position: 0%;
    }
    100%{
      background-position: 400%;
    }
  }

  

.projectback {
    position:fixed;
    background: #3d3d3d;
    /*top: 50%;*/
    left: 50%;
    bottom: 0px;
    transform: translate(-50%, 0%);
    padding: 0px;
    height: 1000%;
    min-height: 100%;
    width: calc(100vw - 120px);
    margin: 0;
    display: block;
    z-index: -100;
    margin-top: 630px;
}

.projectbreak {
    background-color: #2a2a2a;
    height: 150px;
    width: 97vw;
    display: flex;
    align-items: center;
}

.project {
    position: relative;
    image-rendering: pixelated;
}

.projecttext {
    font-family: monospace;
    text-align: center;
    box-sizing: border-box;
    font-size: 20px;
    margin-bottom: 50px;
    padding: 1px 15%;
    width: 100%;
    image-rendering: pixelated;
}

.projectheader {
    text-align: center;
    font-size: 40px;
    margin-top: -100px;
    width: 100%;
    text-decoration: underline;
    position: absolute;
}

.button {
    padding-top: -100px;
}

.specialimage {
    border: 3px solid black;
}